<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ApiDemoApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="globalPlan">
                <span class="oi oi-globe" aria-hidden="true"></span> Global plan
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="localPlan">
                <span class="oi oi-droplet" aria-hidden="true"></span> Local plan
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="currentLoc">
                <span class="oi oi-location" aria-hidden="true"></span> Current Position
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navStatus">
                <span class="oi oi-list" aria-hidden="true"></span> Navi Status
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="batteryStatus">
                <span class="oi oi-battery-full" aria-hidden="true"></span> Battery Status
            </NavLink>
        </div>

          <div class="nav-item px-3">
            <NavLink class="nav-link" href="CoNav">
                <span class="oi oi-random" aria-hidden="true"></span> Coordinate nav
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="NameNav">
                <span class="oi oi-action-redo" aria-hidden="true"></span> Point nav
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="batteryCharge">
                <span class="oi oi-battery-empty" aria-hidden="true"></span> Battery nav
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="moveAction">
                <span class="oi oi-move" aria-hidden="true"></span> Move
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="plugin">
                <span class="oi oi-power-standby" aria-hidden="true"></span> Plug In&Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
