@page "/currentLoc"
@attribute [Authorize(Roles="Admin,User")]
@using ApiDemoApp.Models
@using System.Text.Json
@using ApiDemoApp.Services
@inject IHttpClientFactory _client

<h3>Local Navigate Plan</h3>

@if(!string.IsNullOrEmpty(errorMessage))
{
    <div class="h3">@errorMessage</div>
}
else if(coordinace == null)
{
    <div class="h3">Loading....</div>
}
else
{
    <table class="table table-striped" >
        <thead>
           <th> x_axis</th>
           <th> y_axis</th>
           <th> theta</th>
        </thead>
        <tbody>
          
                <tr>
                    <td>@coordinace.x_axis</td>
                    <td>@coordinace.y_axis</td>
                    <td>@coordinace.theta</td>
                </tr>
          
        </tbody>
    </table>
    

}

@code {
    string? errorMessage;
    Coordinace? coordinace;
    System.Threading.Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        var client = _client.CreateClient("nav");
        try
        {
            coordinace = await client.GetFromJsonAsync<Coordinace>("pose");
            errorMessage = null;

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
            LogService.LogMessage(ex.Message);
        }
    
    }

 
}
