@page "/login"
@using ApiDemoApp.Repositories
@using ApiDemoApp.Services
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authState 
<h3>Login to system</h3>

<p>
    <label for="user">user:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="user" type="email" @bind-value="@email" required placeholder="enter the registed email" />
</p>

<p>
    <label for="password">password:</label>
    <input name="password" type="password" @bind-value="@password" required placeholder="enter the password"/>
</p>
<p>
    <input type="button" value ="提交" @onclick="LogintoSystem" />
</p> 
@code {
    string? email;
    string? password;
    
    private System.Security.Claims.ClaimsPrincipal user;

    public async Task LogintoSystem()
    {
        var _user = UserRepository.Users.SingleOrDefault(u => u.EmailAddress == email && u.Password == password);

        if (_user != null)
        {
          var en = Enum.Parse<TestUserType>(_user.Role);
          var authState = await ((TestAuthenticationStateProvider)_authState).ChangeUser(en);
          this.user = authState.User;
        }
        _navigationManager.NavigateTo("/");
    }
}
