@page "/NameNav"
@attribute [Authorize(Roles="Admin")]
@using ApiDemoApp.Models
@using System.Text.Json
@using ApiDemoApp.Services
@using System.Text
@inject IHttpClientFactory _client;

<h3>Navigation by name</h3>
<p><input type="text" placeholder="point name" @bind-value="@point" required /></p>
<p> 
 <input type="button" value="提交" @onclick="StartNav" />
 <input type="button" value="取消" @onclick="CancelNav" />
 </p>
<p><label>@errorMessage</label></p>

@code {
    string? point;
    string? errorMessage;
    public async Task StartNav()
    {
        var client = _client.CreateClient("cmd");
        try
        {
           // var result = await client.PostAsJsonAsync<string>("nav_point", JsonSerializer.Serialize(new TargetName() { point = this.point }));
            
            var stringPayload = JsonSerializer.Serialize(new TargetName() { point = this.point });
            var httpContent = new StringContent(stringPayload, Encoding.UTF8, "application/json");
            var httpResponse = await client.PostAsync("nav_point", httpContent);
            if (httpResponse.StatusCode == System.Net.HttpStatusCode.OK)
            {
                errorMessage = "Nav data correctly received";
            }
            else
            {
                errorMessage = await httpResponse.Content.ReadAsStringAsync();
                LogService.LogMessage(errorMessage);
            }
           

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
    public async Task CancelNav()
    {
        var client = _client.CreateClient("cmd");
        try
        {
            var result = await client.PostAsJsonAsync("cancel_goal", string.Empty);
            if (result.StatusCode == System.Net.HttpStatusCode.OK)
                errorMessage = "correctly cancel the naviagtion";
            else
            {
                  errorMessage = " something wrong with server,try again";
                  string errTxt  =  await result.Content.ReadAsStringAsync();
                  LogService.LogMessage(errTxt);
            }
          

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }


}
