@page "/batteryCharge"
@attribute [Authorize(Roles="Admin")]
@using ApiDemoApp.Models
@using System.Text.Json
@inject IHttpClientFactory _client

<h3>Nav to Charge</h3>
<p>
    <label>Type:</label>
    <select name="type"  @bind="@type" >
       
        <option>0</option>
        <option>1</option>
    </select>

</p>
<p>
    <label>Point:</label>
    <input type="text" @bind-value="@point" />
</p>

<p>
    <input type="button" value="提交" @onclick="StartCharge" />
</p>
<p><label>@errorMessage</label></p>

@code {
    string? errorMessage;
    string? point;
    int type;

    public async Task StartCharge()
    {
        var client = _client.CreateClient("cmd");
        try
        {
            
            Charge charge = new Charge()
                {
                    type = this.type,
                    point = this.point
                };
            var result = await client.PostAsJsonAsync<string>("charge", JsonSerializer.Serialize(charge));
            if (result.StatusCode == System.Net.HttpStatusCode.OK)
                errorMessage = "success send to charge";
            else
                errorMessage = "something wrong with server";

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
   


}
