@page "/batteryCharge"
@attribute [Authorize(Roles="Admin")]
@using ApiDemoApp.Models
@using System.Text.Json
@using System.Text
@using ApiDemoApp.Services
@inject IHttpClientFactory _client

<h3>Nav to Charge</h3>
<p>
    <label>Type:</label>
    <select name="type"  @bind="@type" >
       
        <option>0</option>
        <option>1</option>
    </select>

</p>
<p>
    <label>Point:</label>
    <input type="text" @bind-value="@point" />
</p>

<p>
    <input type="button" value="提交" @onclick="StartCharge" />
</p>
<p><label>@errorMessage</label></p>

@code {
    string? errorMessage;
    string? point;
    int type;

    public async Task StartCharge()
    {
        var client = _client.CreateClient("cmd");
        try
        {
            
            Charge charge = new Charge()
                {
                    type = this.type,
                    point = this.point
                };
          //  var result = await client.PostAsJsonAsync<string>("charge", JsonSerializer.Serialize(charge));


            var stringPayload = JsonSerializer.Serialize(charge);
            var httpContent = new StringContent(stringPayload, Encoding.UTF8, "application/json");
            var httpResponse = await client.PostAsync("charge", httpContent);
            if (httpResponse.StatusCode == System.Net.HttpStatusCode.OK)
            {
                errorMessage = "Nav data correctly received";
            }
            else
            {
                errorMessage = await httpResponse.Content.ReadAsStringAsync();
                LogService.LogMessage(errorMessage);
            }

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
   


}
