@page "/plugin"
@attribute [Authorize(Roles="Admin,User")]
@using ApiDemoApp.Models
@inject IHttpClientFactory _client

<h3>PlugInOut</h3>
<EditForm Model="@emPower" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />  
       <ValidationSummary />  
       <div class="row content">  
        <div class="col-md-2"><label for="targetIP">Target IP</label></div>  
        <div class="col-md-3"><InputText id="targetIPd" @bind-Value="emPower.ip" /></div>  
    </div>  
    <div class="row content">  
        <div class="col-md-2"><label for="Lock">Locked?</label></div>  
        <div class="col-md-3"><InputCheckbox id="Lock" @bind-Value="emPower.lockStatus" /></div>  
    </div>  

     <div class="row content"> 
         <div class="col-md-2">
          <button type="submit">Submit</button>  
        </div>
     </div>

</EditForm>
  <p>@errorMessage</p>

@code {
    string? errorMessage;
    EmPower emPower =new EmPower();

    public async Task HandleValidSubmit()
    {
        var client = _client.CreateClient();
        try
        {
            string isLocked = emPower.lockStatus ? "1" : "0";
            string url = $"https://{emPower.ip}/cmd/{isLocked} ";
            var result = await client.PostAsJsonAsync<string>(url,"");
            if (result.StatusCode == System.Net.HttpStatusCode.OK)
                errorMessage = emPower.lockStatus? "Locked":"unLocked";
            else
                errorMessage = "something wrong with server";

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

   

}
