@page "/plugin"
@attribute [Authorize(Roles="Admin,User")]
@using ApiDemoApp.Models
@using ApiDemoApp.Services
@using System.Text
@inject IHttpClientFactory _client

<h3>PlugInOut</h3>
<EditForm Model="@emPower" OnValidSubmit="HandleValidSubmit">
      <DataAnnotationsValidator />  
       <ValidationSummary />  
       <div class="row content">  
        <div class="col-md-2"><label for="targetIP">Target IP</label></div>  
        <div class="col-md-3"><InputText id="targetIPd" @bind-Value="emPower.ip" /></div>  
    </div>  
    <div class="row content">  
        <div class="col-md-2"><label for="Lock">Locked?</label></div>  
        <div class="col-md-3"><InputCheckbox id="Lock" @bind-Value="emPower.lockStatus" /></div>  
    </div>  

     <div class="row content"> 
         <div class="col-md-2">
          <button type="submit">Submit</button>  
        </div>
     </div>

</EditForm>
  <p>@errorMessage</p>

@code {
    string? errorMessage;
    EmPower emPower =new EmPower();

    public async Task HandleValidSubmit()
    {
        var client = _client.CreateClient();
        try
        {
            string requestUri = "http://" + emPower.ip + "/cmd/lock";
            if (!emPower.lockStatus)
                requestUri = requestUri.Replace("lock", "unlock");

            var httpResponse = await client.PostAsync(requestUri, null);
              if (httpResponse.StatusCode == System.Net.HttpStatusCode.OK)
            {
                errorMessage = "Nav data correctly received";
            }
            else
            {
                errorMessage = await httpResponse.Content.ReadAsStringAsync();
                LogService.LogMessage(errorMessage);
            }
            

        }catch(Exception ex)
        {
            errorMessage = ex.Message;
            LogService.LogMessage(ex.Message);
        }
    }

   

}
